body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
    'sidebar header'
    'sidebar main';
}

.sidebar {
  grid-area: sidebar;
}

.nav ul {
  list-style: none;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'projects announcements'
    'projects trending';
}

.user-projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
