:root {
  --avatar-image-size: 4rem;
  --sidebar-main-color: rgb(255, 255, 255);
  --sidebar-secondary-color: rgb(0, 0, 0);
  --gray-color: #dadcdd;
  --white-color: white;
  --card-border-color: orange;
  --border-radius: 8px;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
    'sidebar header'
    'sidebar main';
}

h2 {
  font-weight: 600;
  margin: 1em 0;
}

h3 {
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
}

button.icon-btn {
  background-color: var(--white-color);
}

.sidebar {
  padding: 1rem;
  grid-area: sidebar;
  background-color: var(--sidebar-main-color);
  color: var(--sidebar-secondary-color);
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.icon {
  height: 1rem;
  display: inline-block;
}

.avatar {
  /* display: inline-block; */
  height: var(--avatar-image-size);
  width: var(--avatar-image-size);
  border-radius: 50%;
}

.header {
  padding: 1rem 2rem;
  grid-area: header;
}

button.user-action-btn {
  background-color: var(--sidebar-main-color);
  color: var(--sidebar-secondary-color);
  border-radius: 1rem;
}

.main-content {
  padding: 1rem;
  background-color: var(--gray-color);
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'projects announcements'
    'projects trends';
  gap: 1rem;
}

.user-projects-section {
  grid-area: projects;
}

.project-cards {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1.5em;
}

.announcements, .trends, .project-card {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 1em;
}

.project-card {
  border-left: var(--border-radius) solid var(--card-border-color);
}

.project-card .buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  gap: 1rem;
}

.announcements-section {
  grid-area: announcements;
}

.announcements-section hr {
  margin: 1rem 0;
  border: 1px solid var(--gray-color);
}

.trends-section {
  grid-area: trends;
}

.trend {
  display: grid;
  grid-template-columns: var(--avatar-image-size) 1fr;
  grid-template-rows: 1f 1fr;
  grid-template-areas: 
    'avatar tag'
    'avatar description';
}

.avatar {
  grid-area: avatar;
}

.tag {
  grid-area: tag;
}

.description {
  grid-area: description;
}