:root {
  --avatar-image-size: 3rem;
  --avatar-bigger-size: calc(var(--avatar-image-size) * 4 / 3);
  --sidebar-main-color: rgb(81, 138, 237);
  --sidebar-secondary-color: rgb(255, 255, 255);
  --main-text-color: black;
  --secondary-text-color: #666;
  --gray-color: #dadcdd;
  --white-color: white;
  --card-border-color: orange;
  --border-radius: 8px;
}

body {
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

p {
  color: var(--secondary-text-color);
}

button {
  border: none;
  cursor: pointer;
}

.icon {
  justify-self: center;
  height: 1.5rem;
}

.icon-btn {
  background-color: var(--white-color);
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  display: grid;
  grid-template-columns: 3rem auto;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 3rem;
}

h1 .icon {
  height: 3rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1em 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.sidebar {
  padding: 1rem;
  grid-area: sidebar;
  background-color: var(--sidebar-main-color);
  color: var(--sidebar-secondary-color);
}

.nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.nav ul a {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 3rem auto;
  gap: 0.5rem;
  align-items: center;
}

.avatar {
  height: var(--avatar-image-size);
  width: var(--avatar-image-size);
  border-radius: 50%;
}

.header {
  padding: 1rem 2rem;
  grid-area: header;
}

.header__top {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-areas: "search user";
  gap: 2rem;
}

.search-container {
  grid-area: search;
  display: grid;
  grid-template-areas: "icon bar";
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

#search-btn {
  grid-area: icon;
}

#search-field {
  grid-area: bar;
  max-width: 50ch;
  background-color: var(--gray-color);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
}

label[for="search-field"] {
  display: none;
}

.user-container {
  grid-area: user;
  display: grid;
  grid-template-areas: "notifications avatar username";
  gap: 2rem;
  align-items: center;
}

.user-container .username {
  color: var(--main-text-color);
  font-size: 1.125rem;
  font-weight: 700;
}

.header__bottom {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr auto;
  grid-template-areas: "greetings buttons";
}

.greetings {
  grid-area: greetings;
  display: grid;
  grid-template-columns: var(--avatar-bigger-size) 1fr;
  grid-template-areas: "avatar message"
                       "avatar user";
  gap: 0 1rem;
}

.greetings .avatar {
  grid-area: avatar;
  height: var(--avatar-bigger-size);
  width: var(--avatar-bigger-size);
}

.greetings .message {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--main-text-color);
  grid-area: message;
}

.greetings .username {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--main-text-color);
  grid-area: user;
}

.header__bottom .buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 2rem;
}

.user-action-btn {
  font-weight: 600;
  background-color: var(--sidebar-main-color);
  color: var(--sidebar-secondary-color);
  border-radius: 1rem;
  padding: 0.625rem 1.5rem;
}

.main-content {
  padding: 1rem;
  background-color: var(--gray-color);
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trends";
  gap: 1rem;
}

.user-projects-section {
  grid-area: projects;
}

.project-cards {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1.5em;
}

.announcements, .trends, .project-card {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  padding: 2em;
}

.project-card {
  border-left: var(--border-radius) solid var(--card-border-color);
  display: grid;
  gap: 1em;
}

.project-card .buttons {
  align-self: end;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  gap: 1rem;
}

.announcements-section {
  grid-area: announcements;
}

.announcements .title {
  font-size: 1rem;
}

.announcements .description {
  font-size: 0.875rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.announcements-section hr {
  margin: 1rem 0;
  border: 1px solid var(--gray-color);
}

.trends-section {
  grid-area: trends;
}

.trends {
  display: grid;
  gap: 1.5rem;
}

.trend {
  display: grid;
  grid-template-columns: var(--avatar-image-size) 1fr;
  grid-template-areas: 
    "avatar tag"
    "avatar project";
  gap: 0 1rem;
}

.trend .avatar {
  grid-area: avatar;
}

.trend .tag {
  color: var(--main-text-color);
  grid-area: tag;
  align-self: end;
}

.trend-project {
  grid-area: project;
  align-self: start;
}